{% extends "./base.njk" %}
    <h1>{{ title }}</h1>

{% block content %}
  <article>

    {% if date %}
      <p><small>{{ date }}</small></p>
    {% endif %}
    <div>
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
