---
title: Home
layout: base.njk
permalink: /
---

{# Intro #}
<section class="mb-24 md:mb-40">
  <div class="max-w-5xl">
    <h1>
      Hello! Looking for a <em>Developer?</em> Maybe a <em>UI Designer? </em>
      Oh I know, you are looking for a <em>UX Engineer</em> *specialized in design*
      with more than 6 years, right?!
    </h1>
  </div>

  <div class="mt-16 max-w-2xl">
    <p class="inline bg-warm-bg text-xl md:text-2xl text-accent-red/80 font-serif italic leading-relaxed">
    {{personal.info.summary}}
    </p>
  </div>

</section>

{# As of now #}
{% include "partials/favorites.njk" %}

<h2 class="">Last published</h2>
{# Last published #}
<ul class="space-y-6">
    {% set postslist = collections.published | reverse %}
    {% for post in postslist.slice(0,5) %}
      {% set formatedDate = post.date | formatDatefull(post.date) %}
      {% blogSectionBlock post.url, post.data.title, formatedDate, post.data.tags %}
        <p>{{ post.data.description }}{{post.data.updateDate}}</p>
      {% endblogSectionBlock %}
    {% endfor %}
  </ul>
