---
title: Home
layout: base.njk
permalink: /
---

<section class="mb-24 md:mb-40">
  <div class="max-w-5xl">
    <h1>
      Hello! Looking for a <em>Developer?</em> Maybe a <em>UI Designer? </em>
      Oh I know, you are looking for a <em>UX Engineer</em> *specialized in design*
      with more than 6 years, right?!
    </h1>
  </div>

  <div class="mt-16 max-w-2xl">
    <p class="inline bg-warm-bg text-xl md:text-2xl text-accent-red/80 font-serif italic leading-relaxed">
    {{personal.info.summary}}
    </p>
  </div>
</section>

{% include "partials/favorites.njk" %}

