<div class="book-template" data-title="{{ title }}">
  <svg class="border-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="border-path" d="M0,0 L100,0 L100,100 L0,100 Z" pathLength="1" />
  </svg>
  
  <div class="book-info">
    <h2 class="title-placeholder"></h2>
    <p>AUTHOR: {{ author }}</p>
    <div class="book-content">
      {{ content | safe }}
    </div>
  </div>
</div>