<div class="book-template" data-title="{{ title }}">
  <div class="book-info">
    <h2 class="title-placeholder"></h2>
    <p data-author="{{ author }}">AUTHOR: {{ author }}</p>
    <div class="book-content">
      {{ content | safe }}
    </div>
  </div>
</div>