<div class="book-template" data-id="{{ id }}" data-title="{{ title }}" data-author="{{ author }}">
  <div class="book-info">
    <h2 class="title-placeholder"></h2>
    <p>AUTHOR: {{ author }}</p>
    <div class="book-content">
      {{ content | safe }}
    </div>
  </div>
</div>