<footer class="font-serif flex items-end px-6 py-12 md:px-12 md:py-24 mt-20 bg-accent-primary">
  <div class="max-w-6xl mx-auto w-full">
    <h2 class="text-4xl md:text-6xl lg:text-7xl text-pink-50 mb-12 hover:translate-x-4 transition-transform duration-500 cursor-pointer w-fit">
      <a href="mailto:thamy.helaysa@live.com">Get in touch &rarr;</a>
    </h2>
    
    <div class="text-pink-50 flex flex-col md:flex-row md:flex-wrap gap-x-8 md:gap-16 text-lg">
      <a
        href="https://www.linkedin.com/in/thamy-helaysa"
        target="_blank"
        rel="noreferrer"
        class=" hover:underline underline-offset-4"
      >
        LinkedIn
      </a>
      <a
        href="mailto:thamy.helaysa@live.com"
        class="hover:underline underline-offset-4"
      >
        Email
      </a>
      <div class="flex flex-col flex-11/12 text-text-gray text-base mt-2 md:mt-0">
        <span>
          I don’t care about copyright,
          <a href="/copyrighty" rel="internal" class="underline underline-offset-4">thoughts are not property</a>
        </span>
        <span>This site doesn’t track personal info, just like the web was supposed to be. :)</span>
      </div>
    </div>
  </div>
</footer>