<header class="flex justify-between items-center bg-warm-bg transition px-4 py-6 md:px-8 md:py-8">
  <div>
    <a
      href="/"
      class="text-accent-red hover:opacity-80 transition-opacity font-serif text-lg tracking-tight"
    >
      Thamires Helaysa
    </a>
  </div>
  
  <div class="flex flex-col md:flex-row items-start md:items-center gap-6 md:gap-8 md:w-auto">

    <nav class="hidden md:flex gap-6 md:gap-8 text-sm font-sans uppercase font-light tracking-tight">
      {% for link in navigation.links %}
        {% set isCurrentPage = (page.url == link.url) %}
        <a
          href="{{ link.url }}"
          class="hover:text-accent-red transition-colors text-text-dark/60 {% if page.url == link.url %}text-accent-red {% endif %}"
          {% if isCurrentPage %}aria-current="page"{% endif %}
          {% if link.url.startsWith("http") %}
            rel="noopener noreferrer"
            target="_blank"
          {% else %}
            rel="internal"
          {% endif %}
        >
          {{ link.label }}{% if isCurrentPage %}*{% endif %}
        </a>
      {% endfor %}
    </nav>
    <menu-mobile class="group md:hidden">
      {% set delayMap = {
        "0": "delay-[400ms]",
        "1": "delay-[500ms]",
        "2": "delay-[600ms]",
        "3": "delay-[800ms]",
        "default": "delay-[100ms]"
      } %}
      <div class="flex grow flex-col justify-center px-8 gap-4 align-center" slot="content">
        {% for link in navigation.links %}
          {% set isCurrentPage = (page.url == link.url) %}
          {% set isPathStartsWith = (page.url.startsWith(link.url.toString())) %}
          <a
            href="{{ link.url }}"
            class="{% if isCurrentPage %}pointer-events-none text-accent-red/50{% endif %} -translate-x-8 opacity-0 group-[[isopen]]:opacity-100 group-[[isopen]]:translate-x-0 text-5xl font-serif text-accent-red transition-all duration-350 {{ delayMap[loop.index0] or delayMap['default'] }}"
            {% if isPathStartsWith and isCurrentPage %}aria-current="page"{% endif %}
            {% if link.url.startsWith("http") %}
              rel="noopener noreferrer"
              target="_blank"
            {% else %}
              rel="internal"
            {% endif %}
          >
            {{ link.label }}{% if isCurrentPage %}*{% endif %}
          </a>
        {% endfor %}
      </div>
    </menu-mobile>

    <div class="hidden md:block w-px h-4 bg-accent-red/20"></div>

    <theme-toggle class="hidden md:flex" data-template-id="theme-toggle-tmpl"></theme-toggle>

  </div>

</header>