---
layout: books.njk
title: Here I can brag about how cultured I am
description: A growing list of books I’ve read (or pretended to). If you think reading makes you deep, wait 'til you read this page. Expect quotes, judgment, and meandering thoughts that smell faintly of literary superiority.
permalink: /books/
---

<div id="raw-book-data">
  {% for book in collections.books %}
    {% set title = book.data.title %}
    {% set author = book.data.author %}
    {% set content = "" %}
    {% include "partials/book-shell.njk" %}
  {% endfor %}
</div>
