---
layout: base.njk
title: Behold my collection of *most* unfinished games
description: A tribute to the pile of digital distractions I’ve almost completed. Games I loved, games I rage quit, and the ones I keep redownloading out of nostalgia or masochism. Achievement unlocked selective commitment.
permalink: /games-that-i-may-or-may-not-play/
---

<h1>{{ title }}</h1>