---
title: Home
layout: base.njk
description: "A modern lament in markdown, featuring code, emotion, messy ideas, and the occasional spiritual crisis. Come for the sarcasm, stay for the feelings."
permalink: /
pageModules: 
  - "/components/media-preview.js"
  - "/components/user-fake-id.js"
---

{# Intro #}
<section class="mb-24 md:mb-40">
  <div class="max-w-5xl max-sm:min-h-[50dvh]">
    <h1>
      Hello, <user-fakeid></user-fakeid> I'm Thamires, and I like <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="/games-that-i-may-or-may-not-play"><em>games</em></a>, 
      <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="/books-that-a-may-or-may-not-like"><em>books</em></a> and writting.
      Dont be shy and drop me a <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="mailto:{{personal.info.email}}"><em>message.</em></a>
      Lets talk about life and a little bit about <em>*code*</em>.
    </h1>
  </div>

  <div class="mt-16 max-w-2xl">
    <p class="inline bg-warm-bg text-xl md:text-2xl text-accent-red/80 font-serif italic leading-relaxed">
      Despite being in the field for almost a decade, my interests remain delightfully unoriginal: 
      Frontend & Design I got started in e-commerce and slowly evolved into a full-time web romantic.
      As lucky as I consider myself to be, it wasn't always like that. There was a time that a very wise 
      wobiwan-kenobi once told me, "Frontend is lame. Dont do it". Naturally, I ignored him and joined the rebellion. And now I fight daily battles on the dark side of the DOM.
    </p>
  </div>

</section>

{# As of now #}
{% include "partials/favorites.njk" %}

<h2>Last published</h2>
{# Last published #}
<ul class="space-y-6">
  {% set postslist = collections.published | reverse %}
  {% for post in postslist.slice(0,5) %}
    {% set formatedDate = post.date | formatDatefull(post.date) %}
    <li>
      {% blogSectionBlock post.url, post.data.title, formatedDate, post.data.tags %}
        <p>{{ post.data.description }}</p>
      {% endblogSectionBlock %}
    </li>
  {% endfor %}
</ul>
