---
title: Home
layout: base.njk
permalink: /
pageModules: 
  - "/components/media-preview.js"
---

{# Intro #}
<section class="mb-24 md:mb-40">
  <div class="max-w-5xl">
    <h1>
      Hello! Make your self at <em>home.</em> This is the place where you can <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="/about"><em>know more about me.</em></a>
      Dont be shy and drop me a <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="mailto:{{personal.info.email}}"><em>message.</em></a>
      Lets talk about life and a little bit of <em>*code*</em>. Do you like <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="/games-that-i-may-or-may-not-play"><em>games</em></a>
      or <a class="underline dark:hover:text-pink-500 hover:text-red-950" href="/books-that-a-may-or-may-not-like"><em>books</em></a>? :0 me too :)
    </h1>
  </div>

  <div class="mt-16 max-w-2xl">
    <p class="inline bg-warm-bg text-xl md:text-2xl text-accent-red/80 font-serif italic leading-relaxed">
    {{personal.info.summary}}
    </p>
  </div>

</section>

{# As of now #}
{% include "partials/favorites.njk" %}

<h2 class="">Last published</h2>
{# Last published #}
<ul class="space-y-6">
    {% set postslist = collections.published | reverse %}
    {% for post in postslist.slice(0,5) %}
      {% set formatedDate = post.date | formatDatefull(post.date) %}
      {% blogSectionBlock post.url, post.data.title, formatedDate, post.data.tags %}
        <p>{{ post.data.description }}{{post.data.updateDate}}</p>
      {% endblogSectionBlock %}
    {% endfor %}
  </ul>
