/*
* Imports
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300&display=swap");
/*
* Variables
*/
/*
* Animations
*/
/* The typing effect */
/* The typewriter cursor effect */
.none {
  display: none !important;
}
.ico {
  width: 1rem;
  height: 1rem;
  fill: var(--brightness);
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  height: 100%;
  min-height: 100% !important;
  background: var(--darkness);
  color: var(--brightness);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-corner,
body::-webkit-scrollbar-corner,
html::-webkit-resizer,
body::-webkit-resizer {
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.svg-sprites {
  position: fixed;
  top: -9999px;
  left: -9999px;
}
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--darkness);
  transition: transform 500ms ease;
  transform: translateY(100%);
  z-index: 16;
}
.loader .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.--loading .loader {
  transform: translateY(0%);
}
.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3vw;
  color: var(--brightness);
  font-size: 5vw;
  font-family: 'Nunito', sans-serif;
  white-space: nowrap;
}
.welcome .codeline {
  display: block;
  margin-right: 3vw;
}
.welcome .var {
  color: var(--blue);
}
.welcome .name::after {
  display: inline-block;
  content: '=';
  margin: 0 1vw 0 3vw;
  color: var(--pink);
  opacity: 1;
}
.welcome .key {
  opacity: 1;
}
.welcome .char {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.1em;
}
.welcome .char:nth-of-type(1) {
  animation: typing 1.5s 0s steps(20, end) forwards, typing-back 1.5s 1.5s steps(20, end) forwards;
}
.welcome .char:nth-of-type(2) {
  animation: typing 1.5s 3s steps(20, end) forwards, typing-back 1.5s 4.5s steps(20, end) forwards;
}
.welcome .char:nth-of-type(3) {
  animation: typing 1.5s 6s steps(20, end) forwards, typing-back 1.5s 7.5s steps(20, end) forwards;
}
.welcome .char:nth-of-type(4) {
  animation: typing 1.5s 9s steps(20, end) forwards, typing-back 1.5s 10.5s steps(20, end) forwards;
}
.welcome .char.bem-vindo {
  animation: typing 1.5s 9s steps(20, end) forwards;
}
.welcome .letter {
  display: inline-block;
  color: var(--highlight);
}
.welcome::before {
  position: absolute;
  content: '}';
  top: 50%;
  right: -1vw;
  transform: translateY(-50%);
}
.welcome::after {
  position: absolute;
  content: '';
  top: 0;
  right: 2vw;
  display: inline-block;
  height: 100%;
  border-right: 0.15em solid #ffa500; /* The typwriter cursor */
  animation: blink-caret 0.75s step-end infinite;
}
.open .welcome .char {
  animation-name: typing;
  animation-delay: 0s;
}
.open-tcc .welcome .char:not(.tcc) {
  animation: none;
}
.open-proj1 .welcome .char:not(.projetos) {
  animation: none;
}
.wrapper {
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template: 10vh 2fr 10vh/1fr;
  height: 100%;
  padding: 16px;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 16px * 2);
  padding: 0 16px;
  z-index: 9;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 0.15em;
}
#logo .ico {
  width: 3rem;
  height: 3rem;
}
.close {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms 100ms ease;
}
.open .close {
  opacity: 1;
  visibility: visible;
}
.menu {
  grid-row: 1/2;
}
.main {
  grid-column: 1/2;
  grid-row: 2/3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: all 300ms ease;
}
.btn {
  min-height: 50px;
  padding: 5px;
  background: none;
  border: 0;
  box-shadow: none;
  color: var(--highlight);
}
.btnslider {
  font-size: 1rem;
}
#logo .btn {
  width: 0;
  padding: 0;
  overflow: hidden;
}
.btn .open-tcc #logo .tcc {
  width: 100%;
  padding: 5px;
  overflow: visible;
}
.slider {
  width: 100%;
  height: 100%;
}
.slider > .list {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  grid-template-columns: 0;
  grid-auto-columns: calc(100% - 16px * 2);
  grid-template-rows: 1fr;
  height: 100%;
  transition: transform 400ms cubic-bezier(0.17, 0.87, 0.49, 0.99);
  scroll-snap-type: x proximity;
}
.slider > .list::before,
.slider > .list::after {
  content: '';
  width: 0;
}
.slider .item {
  position: relative;
  display: block;
  justify-self: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: hidden;
  transition: all 500ms 0.4s;
}
.open .slider .item {
  overflow: visible;
}
.slider .item:nth-last-child(1) .content {
  z-index: 1;
}
.slider .item:nth-last-child(2) .content {
  z-index: 2;
}
.slider .item:nth-last-child(3) .content {
  z-index: 3;
}
.slider .item:nth-last-child(4) .content {
  z-index: 4;
}
.slider .item:nth-last-child(5) .content {
  z-index: 5;
}
.slider .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  margin: -50vh -50vw;
  background: url("../media/teste-imagem.jpg") no-repeat 50%;
  background-size: cover;
  transform: scale(0.7);
  transition: all 0.4s ease;
}
.slider [data-url="proj1"] .content {
  background: url("../media/dadaismo.jpg") no-repeat 50%;
  background-size: cover;
}
.open-tcc .slider [data-url="tcc"] .content {
  transform: scale(1);
}
.open-proj1 .slider [data-url="proj1"] .content {
  transform: scale(1);
}
.controls {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 992px) {
  .controls {
    display: none;
  }
}
.controls .prev,
.controls .next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  opacity: 1;
  transition: all 500ms ease;
  visibility: visible;
  z-index: 15;
}
.open .controls .prev,
.open .controls .next {
  opacity: 0;
  visibility: hidden;
}
.controls .prev {
  left: auto;
  right: calc(100% - 50px);
}
.open .controls .prev {
  transform: translateX(-100%);
}
.controls .next {
  left: calc(100% - 50px);
  right: auto;
}
.open .controls .next {
  transform: translateX(100%);
}
.project {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 4000px;
  padding-top: 80vh;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: all 1s ease;
  z-index: 8;
}
.project.openArticle {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.project > .content {
  height: 100%;
  background: var(--darkness);
}
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 3/4;
  left: 50%;
  bottom: 16px;
  z-index: 8;
}
.scroll-hint {
  position: relative;
  height: 70px;
  color: var(--brightness);
  line-height: 70px;
  letter-spacing: 0.1em;
  transition: all 0.4s;
  white-space: nowrap;
}
.scroll-hint > .label {
  padding-left: 16px;
  font-size: 16px;
  font-weight: 700;
}
@-moz-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: var(--w-animation);
  }
}
@-webkit-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: var(--w-animation);
  }
}
@-o-keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: var(--w-animation);
  }
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: var(--w-animation);
  }
}
@-moz-keyframes typing-back {
  from {
    max-width: var(--w-animation);
  }
  to {
    max-width: 0;
  }
}
@-webkit-keyframes typing-back {
  from {
    max-width: var(--w-animation);
  }
  to {
    max-width: 0;
  }
}
@-o-keyframes typing-back {
  from {
    max-width: var(--w-animation);
  }
  to {
    max-width: 0;
  }
}
@keyframes typing-back {
  from {
    max-width: var(--w-animation);
  }
  to {
    max-width: 0;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffa500;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffa500;
  }
}
@-o-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffa500;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffa500;
  }
}
@-moz-keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
}
@-o-keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
}
@-moz-keyframes scale-down-center {
  0% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
}
@-o-keyframes scale-down-center {
  0% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
}
@keyframes scale-down-center {
  0% {
    transform: scale(1);
    height: 100vh;
    margin: -50vh -50vw;
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    height: 80vh;
    margin: -40vh -50vw;
    opacity: 1;
  }
}
