# ------------------------------------------------------
# 1. Dependency Management
# ------------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------------------------------
# 2. Build Outputs (Production Code)
# ------------------------------------------------------
dist/
_site/

# ------------------------------------------------------
# 3. Environment & Security (CRITICAL)
# ------------------------------------------------------
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# ------------------------------------------------------
# 4. OS Specific (macOS)
# ------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
._*

# ------------------------------------------------------
# 5. Editor / IDE (VS Code)
# ------------------------------------------------------
.vscode/
# !.vscode/extensions.json
*.code-workspace

.history/

# ------------------------------------------------------
# 6. Tooling & Caches
# ------------------------------------------------------
# Eleventy Cache
.cache/
node_modules/.vite/
*.tsbuildinfo

# ------------------------------------------------------
# 7. Testing & Coverage (For the future)
# ------------------------------------------------------
coverage/
reports/
.nyc_output/
.lighthouseci/

# ------------------------------------------------------
# 8. Temporary Files
# ------------------------------------------------------
*.log
*.tmp


# ------------------------------------------------------
# 9. Pre build files/folders
# ------------------------------------------------------
MY_CHECKLIST.md
media-src/