/*
* Imports
*/
//@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap');

/*
* Variables
*/
sm = 16px
sec  = 1.5s

cubic = cubic-bezier(.75,-1.27,.3,2.3)


/*
* Animations
*/

/* The typing effect */
@keyframes typing {
  from { max-width: 0 }
  to { max-width: var(--w-animation) }
}

@keyframes typing-back {
  from { max-width: var(--w-animation) }
  to { max-width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


*
  -webkit-tap-highlight-color: rgba(0,0,0,0);

html, body 
  position relative
  height 100%
  min-height 100%!important
  background var(--brightness)
  color var(--darkness)
  font-family 'Poppins', sans-serif;
  line-height 1.5
  text-align center
  overflow hidden

.loader
  position fixed
  display flex
  align-items center
  justify-content center
  top 0
  right 0
  left 0
  bottom 0
  width 100%
  height 100%
  background var(--brightness)
  transition transform 500ms ease
  transform translateY(100%);
  z-index 16
  .content
    display flex
    align-items center
    justify-content center
  .--loading &
    transform translateY(0%);
  

.welcome
  position relative
  display flex
  align-items center
  justify-content center
  padding-right 3vw
  color var(--darkness)
  font-size 5vw
  font-family 'Nunito', sans-serif
  white-space nowrap 
  .codeline
    display block
    margin-right 3vw
  .var 
    color var(--blue)
  .name
    &::after
      display inline-block
      content '='
      margin 0 1vw 0 3vw
      color var(--pink)
      opacity 1
  .key
    opacity 1
  .char
    display inline-block
    max-width 0
    overflow hidden 
    margin 0 auto
    letter-spacing .10em
    &:last-child
      animation typing sec 8.5s steps(8, end) forwards
  for i in 1 2 3 4
    .char:nth-of-type({i})
      animation typing sec (2 * sec) * (i - 1) steps(20, end) forwards, typing-back sec (2 * sec) * (i - 1) + sec steps(20, end) forwards
  .letter
    display inline-block
    color var(--highlight)
  &::before
    position absolute
    content '}'
    top 50%
    right -1vw
    transform translateY(-50%)
  &::after
    position absolute
    content ''
    top 0
    right 2vw
    display inline-block
    height 100%
    border-right .15em solid orange; /* The typwriter cursor */
    animation blink-caret .75s step-end infinite;
  .open-tcc &
    display none
    .char
      animation none


.wrapper 
  position relative
  display grid
  grid-gap sm
  grid-template 10vh 2fr 10vh/1fr
  height 100%
  padding sm

.header
  position fixed
  display flex
  align-items center
  justify-content space-between
  width "calc(100% - %s * 2)" % sm 
  padding sm
  z-index 9

#logo
  display flex
  align-items center
  justify-content space-between
  font-size 1.5rem
  font-family 'Nunito', sans-serif
  font-weight bold
  letter-spacing .15em
  .key
    color var(--darkness)
    font-size 1.7rem
  .link
    color var(--highlight)

.close 
  opacity 0
  visibility hidden
  transition all 300ms 100ms ease
  .open &
    opacity 1
    visibility visible

.menu
  grid-row 1/2

.main
  //position absolute
  grid-column 1/2
  grid-row 2/3
  top 0
  left 0
  right 0
  bottom 0
  height 100%
  transition all 300ms ease

.btn
  min-height 50px
  padding 5px
  background none
  border 0
  box-shadow none
  color var(--highlight)
  &slider
    font-size 1rem
  #logo &
    width 0
    padding 0
    overflow hidden
  .open-tcc #logo .tcc
    width 100%
    padding 5px
    overflow visible


.slider 
  //position relative
  width 100%
  height 100%
  //overflow hidden
  > .list 
    //position relative
    display grid
    grid-gap sm
    grid-auto-flow column
    grid-template-columns 0
    grid-auto-columns "calc(100% - %s * 2)" % sm // equals -> calc(80vw - 16px)
    grid-template-rows 1fr
    height 100%
    transition transform 400ms cubic-bezier(.17,.87,.49,.99)
    scroll-snap-type x proximity
    &::before, &::after
      content ''
      width 0
  .item 
    position relative
    display block
    justify-self center
    width 100%
    height 100%
    padding sm
    background #666
    transition height 500ms 
  for i in 1 2 3 4 5
    .item:nth-last-child({i}) .content
      z-index i
  .content
    position absolute
    top 50%
    left 50%
    width 100vw
    height 80vh
    margin -40vh -50vw
    background url(../media/teste-imagem.jpg) no-repeat 50%
    background-size cover
    transform scale(.8)
    transition all .4s cubic
    will-change transform
  [data-url="proj1"] .content
    background url(../media/dadaismo.png) no-repeat 50%
    background-size cover
  .open-tcc & [data-url="tcc"] .content
    height 100vh
    margin -50vh -50vw
    transform scale(1)
    z-index 8
  .open-proj1 & [data-url="proj1"] .content
    height 100vh
    margin -50vh -50vw
    transform scale(1)
    z-index 8

.controls
  grid-column 1/2
  grid-row 2/3
  @media (max-width: 992px)
    display none
  .prev, .next
    position absolute
    display flex
    align-items center
    justify-content center
    top calc(50% - 25px)
    width 50px
    height 50px
    opacity 1
    transition all 500ms ease
    visibility visible
    z-index 15
    .open &
      opacity 0
      visibility hidden
  .prev
    left auto
    right calc(100% - 50px)
    .open &
      transform translateX(-100%)
  .next
    left calc(100% - 50px)
    right auto
    .open &
      transform translateX(100%)


.project
  position absolute
  left 0
  width 100vw
  height 4000px
  //background var(--darkness)
  padding-top 80vh
  opacity 0
  visibility hidden
  transform translateY(100%)
  transition all 1s ease
  z-index 8
  &.openArticle
    transform translateY(0%)
    opacity 1
    visibility visible
  > .content
    height 100%
    background var(--brightness)



.footer 
  grid-row 3/4
  z-index 7
