:root,
:host,
html {
  --color-scroll-track: var(--color-pink-100);
  --color-scroll-thumb: var(--color-pink-200);
  --color-sidebar: var(--color-pink-200);
}

html.dark {
  --color-scroll-track: var(--color-gray-800);
  --color-scroll-thumb: var(--color-gray-700);
  --color-sidebar: var(--color-gray-800);
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/ibm-plex-mono-v20-latin/ibm-plex-mono-v20-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/ibm-plex-mono-v20-latin/ibm-plex-mono-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: "dejavu-sans-mono";
  src: url("/assets/fonts/dejavu-sans-mono/ttf/DejaVuSansMono.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

#results-area {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

#ascii-area {
  display: inline-flex;
  flex: 0;
  gap: 0 .5rem;
  width: 100%;
  white-space: pre;
  word-spacing: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 1vmin;
  font-family: dejavu-sans-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  color: var(--color-accent-primary);

  div {
    white-space: pre;
    line-height: 1em;
  }

  @media (width >=768px) {
    font-size: 1.5vmin;
  }
}

#terminal-output {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scroll-thumb);
  }
}

#boot-log {
  p {
    max-width: 600px;
    padding-block: 2px;
  }

  .title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    color: var(--color-accent-primary);
    overflow: hidden;
  }

  .title::before {
    top: 0;
  }

  .title::after {
    bottom: 0;
  }

  .title::before,
  .title::after {
    position: absolute;
    content: "=====================================================================================================================================================================================================================================================================================";
    width: 100%;
    left: 0;
    white-space: nowrap;
  }

  .logdata {
    text-indent: 1rem;
    @media (width >=768px) {
      text-indent: 3rem;
    }
  }

  .error {
    color: var(--color-pink-700);
  }

  .command {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    color: var(--color-accent-primary);
    background-color: var(--color-bg-default);
    z-index: 5;
  }

  .command::before {
    content: "[";
    display: inline-block;
    margin-inline-end: 5px;
  }

  .command::after {
    content: "]";
    display: inline-block;
    margin-inline-start: auto;
  }
}

#terminal-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-sidebar);
  padding-block: 1rem;
  padding-inline: 1rem;
  transform: translateY(100%);
  will-change: transform;
  z-index: 9;

  &.transition {
    transition: transform 300ms ease 0ms;
  }

  &[open] {
    transform: translateY(0%);
  }

  summary {
    margin-block-end: 2rem;
    text-align: center;
    align-content: center;
    cursor: pointer;
    list-style: none;
  }

  .info {
    padding-inline: .5rem;
    margin-block-end: 1rem;
  }

  .ico::before {
    content: "\25B2";
    margin-inline-end: 1rem;
  }

  & summary::-webkit-details-marker,
  & summary::marker {
    display: none;
    width: 0;
  }

  &[open] .ico::before {
    content: "\25BC";
  }
}

#mobile-actions {
  .btn {
    display: inline;
    padding-block: 1rem;
    padding-inline: 0;
    color: var(--color-accent-primary);
  }
}

#skip {
  @media (width >=768px) {
    margin-inline-start: auto;
  }
}

.btn {
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}
