@source "../../components/note-modal.js";
@import "tailwindcss" prefix(nm);
/* @layer theme, base, components, utilities; */
/* @import "tailwindcss/theme.css" layer(theme) prefix(nm); */
/* @import "tailwindcss/preflight.css" layer(base); */
/* @import "tailwindcss/utilities.css" layer(utilities) prefix(nm); */
@import "./shadow-config.css";

dialog[open] {
  position: fixed;
  z-index: 50;
  
  .animate-drop-in {
    animation: var(--nm-animate-drop-in);
  }
  .animate-scale-in {
    animation: var(--nm-animate-scale-in);
  }

  p {
    @apply nm:text-base nm:leading-7 nm:text-pretty ;
  }

  /* & [data-index="1"] p::first-letter {
    @apply nm:leading-8;
    float: left;
    font-size: 50px;
    font-weight: bold;
  } */

  button {
    @apply nm:select-none nm:text-text-primary/40 nm:hover:text-accent-primary;
  }
}

dialog[open]::backdrop {
  animation: var(--nm-animate-backdrop);
}

dialog::backdrop {
  @apply nm:backdrop-blur-3xl;
}

#containerNavigation {
  animation: var(--nm-animate-backdrop);
  animation-delay: 200ms;
}
