@source "../../components/theme-toggle.js";

@import "tailwindcss/theme.css" layer(theme) prefix(sw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(sw);

/* @import "tailwindcss" prefix(sw); */
@import "./shadow-config.css";
