@source "../../components/theme-toggle.js";

@import "tailwindcss/theme.css" layer(theme) prefix(sw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(sw);

/* @import "tailwindcss" prefix(sw); */
@import "./shadow-config.css";

button {
  & .dot-container {
    align-items: center;
    border-color: currentcolor;
    border-radius: calc(infinity * 1px);
    border-style: var(--tw-border-style);
    border-width: 1px;
    display: flex;
    
    height: calc(var(--sw-spacing) * 4);
    justify-content: center;
    width: calc(var(--sw-spacing) * 4);
  }
}
