@theme {
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);

  /* Custom colors */
  --color-warm-bg: var(--color-warm-bg);
  --color-accent-red: var(--color-accent-red);
  
  --color-paper: var(--color-paper);
  --color-paper-text: var(--color-paper-text);

  /* Fonts */
  --font-serif: "Playfair Display", serif;
  --font-mono: "IBM Plex Mono", monospace;

  /* Animation */
  /* https://conorhaining.com/posts/view-transitions-for-your-static-site/ */
  --animate-fade-in: fade-in 400ms ease-in-out both;
  --animate-fade-out: fade-out 100ms ease-in-out both;

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}
