@import 'tailwindcss';
@import './config-theme.css';

@view-transition {
    navigation: auto;
}

@media (prefers-reduced-motion) {
    @view-transition {
        navigation: none;
    }
}

@layer base {
  :root {
    /* Default Theme (Pinky) */
    --color-warm-bg: #f3e5e4;
    --color-accent-red: #ff453a;
    --color-text-dark: #1a1a1a;
    --color-text-gray: #4a4a4a;
    --color-paper: #fffdf5; 
    --color-paper-text: #292524;
  }
  
  :root.dark {
    /* Dark Theme (Darky - Blacks/Blues) */
    --color-warm-bg: #0f172a; /* Slate 900 */
    --color-accent-red: #38bdf8; /* Sky 400 */
    --color-text-dark: #f8fafc; /* Slate 50 */
    --color-text-gray: #cbd5e1; /* Slate 300 */
    --color-paper: #1e293b; 
    --color-paper-text: #e2e8f0;
  }
}

::view-transition-old(post) {
  /* animation: 0.1s ease-in-out both fade-out; */
  animation: var(--animate-fade-out);
}

::view-transition-new(post) {
  /* animation: 0.4s ease-in-out both fade-in; */
  animation: var(--animate-fade-in);
}

body {
  /* background-color: var(--color-warm-bg); */
  color: var(--color-text-dark);
  transition: color 300ms ease 0ms;
}

main {
  view-transition-name: post;
}

h1 {
  @apply text-4xl md:text-6xl mb-16 lg:text-7xl font-serif text-accent-red leading-[1.1] md:leading-[1.1] max-w-5xl
}

.dotted-bg {
  position: relative;
  background-image: radial-gradient(1px,
      color-mix(in oklab,#ff453a 50%,transparent),
      color-mix(in oklab,#ff453a 50%,transparent) 1px,
      #f3e5e4);
  background-size: 20px 20px;
  background-repeat: repeat repeat;
  background-position: top left;
  transition: opacity 400ms ease, visibility 400ms ease;
  &::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(1px,
      color-mix(in oklab,#38bdf8 30%,#0f172a),
      color-mix(in oklab,#38bdf8 30%,#0f172a) 1px,
      #0f172a);
    background-size: 20px 20px;
    background-repeat: repeat repeat;
    background-position: top left;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease, visibility 400ms ease;
  }
  .dark &::after {
    opacity: 1;
    visibility: visible;
  }
}