@import 'tailwindcss';

@layer base {
  :root {
    /* Default Theme (Pinky) */
    --color-warm-bg: #f3e5e4;
    --color-accent-red: #ff453a;
    --color-text-dark: #1a1a1a;
    --color-text-gray: #4a4a4a;
  }
  
  :root.dark {
    /* Dark Theme (Darky - Blacks/Blues) */
    --color-warm-bg: #0f172a; /* Slate 900 */
    --color-accent-red: #38bdf8; /* Sky 400 */
    --color-text-dark: #f8fafc; /* Slate 50 */
    --color-text-gray: #cbd5e1; /* Slate 300 */
  }
}


@theme {
  /* Map tailwind utilities to the CSS variables */
  --color-warm-bg: var(--color-warm-bg);
  --color-accent-red: var(--color-accent-red);
  --color-text-dark: var(--color-text-dark);
  --color-text-gray: var(--color-text-gray);
  --default-transition-duration: 300ms;

  /* Fonts */
  --font-serif: "Playfair Display", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  /* background-color: var(--color-warm-bg); */
  color: var(--color-text-dark);
  transition: color 300ms ease 0ms;
}

.dotted-bg {
  position: relative;
  background-image: radial-gradient(1px,
      color-mix(in oklab,#ff453a 50%,transparent),
      color-mix(in oklab,#ff453a 50%,transparent) 1px,
      #f3e5e4);
  background-size: 20px 20px;
  background-repeat: repeat repeat;
  background-position: top left;
  transition: opacity 400ms ease, visibility 400ms ease;
  &::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(1px,
      color-mix(in oklab,#38bdf8 30%,#0f172a),
      color-mix(in oklab,#38bdf8 30%,#0f172a) 1px,
      #0f172a);
    background-size: 20px 20px;
    background-repeat: repeat repeat;
    background-position: top left;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease, visibility 400ms ease;
  }
  .dark &::after {
    opacity: 1;
    visibility: visible;
  }
}