
body {
  color: var(--color-text, #44403c);
  font-weight: 400;
  transition: color 300ms ease 0ms;
  .dark & {
    color: var(--color-text, #a8a29e);
  }
}

main {
  view-transition-name: post;
}

h1, h2, h3, h4 {
  display: inline-block;
  max-width: var(--container-5xl, 64rem);
  margin-bottom: calc(var(--spacing, .25rem) * 16);
  font-family: var(--font-serif, serif);
  text-wrap: balance;
  letter-spacing: 1.5px;
  line-height: 1.1;
  hyphens: auto;
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--text-3xl, 1.875rem);
  font-weight: var(--font-weight-black, 900);
  letter-spacing: var(--tracking-wide, 0.025em);
  @media (width >= 768px) {
    font-size: var(--text-5xl, 3rem);
    line-height: var(--leading-tight, 1.25rem);
  }
}


h2 {
  font-size: var(--text-3xl, 1.875rem);
  line-height: var(--tw-leading, var(--text-3xl--line-height), 1.2);
  font-style: italic;
  font-weight: 700;
  @media (width >= 768px) {
    font-size: var(--text-4xl, 2.25rem);
    line-height: 1.1;
  }
}

h3 {
  font-size: var(--text-2xl, 1.5rem);
  line-height: var(--tw-leading, var(--text-3xl--line-height), 1.3);
  font-style: italic;
  font-weight: 700;
  @media (width >= 768px) {
    font-size: var(--text-3xl, 1.875rem);
    line-height: 1.1;
  }
}

h4 {
  font-size: var(--text-lg, 1.125rem);
  line-height: var(--tw-leading, var(--text-lg--line-height), 1.4);
  font-style: italic;
  font-weight: 700;
  @media (width >= 768px) {
    font-size: var(--text-xl, 1.25rem);
    line-height: 1.1;
  }
}

a {
  padding-block: calc(var(--spacing)*2.5);
}

p {
  margin-bottom: calc(var(--spacing, .25rem) * 4);
  font-size: var(--text-lg, 1.25rem);
  text-wrap: pretty;
}

em {
  letter-spacing: .5px;
}

b, strong {
  letter-spacing: .5px;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

/* Custom elements fixed default */
theme-toggle {
  min-width: 85px;
}

menu-mobile {
  width: 65px;
  height: 30px;
}

menu-mobile:not(:defined) > [slot] {
  display: none!important;
}

menu-mobile:not(:defined) {
  max-width: 65px;
  max-height: 30px;
}
