@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-500.woff2') format('woff2'),
       url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair-Fallback';
  src: local('Times New Roman');
  size-adjust: 105%;
  ascent-override: 95%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-500italic.woff2') format('woff2'),
       url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-500italic.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-600italic.woff2') format('woff2'),
       url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-600italic.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-800.woff2') format('woff2'),
       url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-800.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-800italic.woff2') format('woff2'),
       url('/assets/fonts/playfair-display-v40/playfair-display-v40-latin-800italic.ttf') format('truetype');
}