@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-regular.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair-Fallback';
  src: local('Times New Roman');
  size-adjust: 107%;
  ascent-override: 95%;
  descent-override: 20%;
  line-gap-override: 0%;
}
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-italic.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-600.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-600.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-600italic.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-600italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-900.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-900.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-900italic.woff2') format('woff2'), 
       url('/assets/fonts/pf-display-v40-latin/playfair-display-v40-latin-900italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/lato-v25-latin/lato-v25-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v25-latin/lato-v25-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato-v25-latin/lato-v25-latin-700.woff2') format('woff2');
}
