em {
  color: var(--color-accent-pink);
  letter-spacing: .5px;
}

blockquote {
  margin-block: calc(var(--spacing) * 10);
  padding-block: calc(var(--spacing) * 5);
  padding-inline: calc(var(--spacing) * 5);
  border: 1px solid var(--color-accent-red);
  color: var(--color-accent-red);
  p { margin: 0 }
}

h2, h3 {
  margin-block-start: calc(var(--spacing) * 12);
  margin-block-end: calc(var(--spacing) * 7)!important;
}

article a {
  font-weight: bolder;
  text-decoration: underline;
  hyphens: auto;
  overflow-wrap: anywhere;
  white-space: pre-line;
}

code {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
}

li > code,
p > code,
span > code {
  padding-inline: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  background-color: var(--color-bg-code);
  hyphens: auto;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

pre {
  display: block;
  padding-block: calc(var(--spacing) * 5);
  padding-inline: calc(var(--spacing) * 5);
  border: 1px solid var(--color-border-code);
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: break-spaces;
  max-width: calc(100vw - 65px); /* inline padding from main and article */
  &:not(:last-child){
    margin-block-end: calc(var(--spacing) * 10);
  }
}

ol, ul {
  padding-inline-start: calc(var(--spacing) * 7);
  margin-block-end: calc(var(--spacing) * 7);
  li {
    margin-block-end: calc(var(--spacing) * 2);
  }
}

ol ul {
  padding-block-start: calc(var(--spacing) * 2);
}
ol li {list-style: decimal;}
ul li {list-style: disc;}

figure,
.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing)*2);
  margin-block-end: calc(var(--spacing) * 10);
  figcaption {
    text-align: center;
    font-size: var(--text-sm);
    font-style: italic;
  }
  .dark & {
    filter: invert(1) hue-rotate(180deg) grayscale(50%);
  }
}

.block {
  margin-block-end: calc(var(--spacing) * 10);
  padding-block: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 4);
  border: 1px solid currentColor;
  .dark & {
    background-color: color-mix(in oklab, currentColor 25%, var(--color-gray-950) 95%);
  }
}

.error-block {
  background-color: #FFBABA;
  /* color: hsl(hue, saturation, lightness); */
  color: hsl(357, 60%, 42%);
}

.warning-block {
  background-color: #FEEFB3;
  color: #9F6000;
}

.success-block {
  color: #4F8A10;
  background-color: #DFF2BF;
}