*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--color-warm-bg);
  overflow: hidden;
}

:root,
:host,
html {
  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;

  /* Pink colors */
  --color-pink-50: #FFFBFC;
  --color-pink-100: #FDCFDA;
  --color-pink-200: #FBA7BB;
  --color-pink-300: #F9839F;
  --color-pink-400: #F86285;
  --color-pink-500: #F7446D;
  --color-pink-600: #F62655;
  --color-pink-700: #F50B40;
  --color-red-800: #DD0939;
  --color-red-900: #C70833;
  --color-red-950: #B3072E;

  /* Pinky Vars */
  --color-warm-bg: color-mix(in oklab, var(--color-pink-100) 30%, var(--color-pink-50) 70%);
  --color-accent-red: var(--color-red-900);
  --color-accent-pink: var(--color-pink-400);
  --color-text: var(--color-gray-600);
  --color-border-code: var(--color-gray-400);
  --color-selection: var(--color-gray-100);

  --color-scroll-track: var(--color-pink-100);
  --color-scroll-thumb: var(--color-pink-200);

  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html.dark {
  /* Dark Vars */
  --color-warm-bg: var(--color-gray-900); 
  --color-accent-red: var(--color-pink-200);
  --color-accent-pink: var(--color-pink-300);
  --color-text: var(--color-gray-400);
  --color-border-code: var(--color-gray-800);
  --color-selection: var(--color-gray-800);

  --color-scroll-track: var(--color-gray-800);
  --color-scroll-thumb: var(--color-gray-700);
}
::selection {
  background-color: var(--color-accent-red);
  color: var(--color-selection);
}

::-moz-selection {
  background-color: var(--color-accent-red);
  color: var(--color-selection);
}

#raw-book-data {
  display: none;
}

.hidden {
  display: none!important;
}

main.terminal {
  height: 100%;

  /* pre styles */
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}

.wrapper {
  height: inherit;
  padding: 1rem;
}

terminal-shell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--color-text);
  font-family: var(--font-mono);
  text-transform: lowercase;
  border: 1px solid var(--color-border-code);
}


#results-area {
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-start;
  /* flex: auto; */
  width: 100%;
  /* height: 30vh;
  height: 30svh; */
  gap: 1rem;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  /* table {
    flex: auto;
    display: block;
    width: 100%;
    height: 20vh;
    height: 20svh;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: var(--color-gray-800); 
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-gray-700); 
    }
  }
  tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  } */
}

#ascii-area {
  display: flex;
  flex: 0;
  gap: 0 .5rem;
  width: 100%;
  white-space: pre;
  font-size: 1vmin;
  color: var(--color-accent-red);
  @media (width >= 768px){
    font-size: 1.5vmin;
  }
}

#terminal-cli {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
  width: 100%;
  height: 50vh;
  height: 50svh;
  margin-block-start: 1rem;
  padding-block-start: 1rem;
  border-top: 1px solid var(--color-border-code);
  line-height: 1.2rem;
}

#terminal-output {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-scroll-track); 
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-scroll-thumb); 
  }
}

#boot-log {
  position: absolute;
  inset: 0;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  p {
    padding-block: 2px;
  }
  .command {
    color: var(--color-accent-red);
  }
  .command::before {
    content: ">";
    display: inline-block;
    margin-inline-end: 5px;
  }
}

#terminal-form {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: .5rem;
  & .prompt {
    position: absolute;
    top: 1px;
    left: 0;
    color: var(--color-accent-red);
  }
}

#terminal-input {
  flex: auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  resize: none;
  text-indent: 140px;
  /* opacity: 0; */
}

#terminal-text {
  position: absolute;
  left: 140px;
  top: 2px;
}

