@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ibm-plex-mono-v20-latin/ibm-plex-mono-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/ibm-plex-mono-v20-latin/ibm-plex-mono-v20-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/ibm-plex-mono-v20-latin/ibm-plex-mono-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-family: "dejavu-sans-mono";
  src: url("/assets/fonts/dejavu-sans-mono/ttf/DejaVuSansMono.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}