*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--color-bg-surface);
  font-size: 16px;
  font-family: var(--font-mono);
  font-weight: 400;
  overflow: hidden;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @media (width >=768px) {
    font-size: 14px;
  }
}

:root,
:host,
html {
  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;

  --color-pink-50: #fffbfc;
  --color-pink-100: #fdcfda;
  --color-pink-200: #fba7bb;
  --color-pink-300: #f9839f;
  --color-pink-400: #f86285;
  --color-pink-500: #f7446d;
  --color-pink-600: #f62655;
  --color-pink-700: #f50b40;
  --color-pink-800: #dd0939;
  --color-pink-900: #c70833;
  --color-pink-950: #b3072e;

  /* Pinky Vars */
  --color-text-primary: var(--color-gray-800);
  --color-text-secondary: var(--color-gray-600);
  --color-text-muted: var(--color-gray-400);
  --color-text-inverse: var(--color-gray-50);
  --color-bg-default: var(--color-pink-50);
  --color-bg-surface: color-mix(in oklab, var(--color-pink-100) 30%, var(--color-pink-50) 70%); /* new warm-bg */
  --color-bg-subtle: var(--color-pink-50);
  --color-code-bg: var(--color-pink-100);
  --color-code-border: var(--color-gray-400);
  --color-text: var(--color-text-primary);

  /* --color-warm-bg: color-mix(in oklab, var(--color-pink-100) 30%, var(--color-pink-50) 70%); */
  --color-accent: var(--color-pink-900);
  --color-accent-secondary: var(--color-pink-400);
  /* --color-text: var(--color-gray-600); */
  /* --color-border-code: var(--color-gray-400); */

  --color-selection: var(--color-gray-100);

  --color-scroll-track: var(--color-pink-100);
  --color-scroll-thumb: var(--color-pink-200);
  --color-sidebar: var(--color-pink-200);

  --font-mono: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', 'Menlo', 'Monaco', 'Consolas', 'Roboto Mono', 'Courier New', monospace;
}

html.dark {
  /* Dark Vars */
  --color-warm-bg: var(--color-gray-900);
  --color-accent-primary: var(--color-pink-200);
  --color-accent-secondary: var(--color-pink-300);
  --color-text: var(--color-gray-400);
  --color-border-code: var(--color-gray-800);
  --color-selection: var(--color-gray-800);

  --color-scroll-track: var(--color-gray-800);
  --color-scroll-thumb: var(--color-gray-700);
  --color-sidebar: var(--color-gray-800);
}

@keyframes blink {

  0%,
  49% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-selection);
}

::-moz-selection {
  background-color: var(--color-accent);
  color: var(--color-selection);
}

#raw-book-data {
  display: none;
}

.hidden {
  display: none !important;
}

main.terminal {
  height: 100%;
  letter-spacing: 0.05em;
}

header.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  height: inherit;
  padding: 1rem;
}

terminal-shell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--color-text);
  font-family: var(--font-mono);
  text-transform: lowercase;
  border: 1px solid var(--color-code-border);
}


#results-area {
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-start;
  /* flex: auto; */
  width: 100%;
  /* height: 30vh;
  height: 30svh; */
  gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

#ascii-area {
  display: inline-flex;
  flex: 0;
  gap: 0 .5rem;
  width: 100%;
  white-space: pre;
  word-spacing: 0;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 1vmin;
  font-family: dejavu-sans-mono, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 0;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  color: var(--color-accent);

  div {
    white-space: pre;
    line-height: 1em;
  }

  @media (width >=768px) {
    font-size: 1.5vmin;
  }
}

#terminal-cli {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
  width: 100%;
  height: 50vh;
  height: 50svh;
  margin-block-start: 1rem;
  padding-block-start: 1rem;
  border-top: 1px solid var(--color-code-border);
  line-height: 1.2rem;
}

.helpers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#terminal-output {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scroll-thumb);
  }
}

#boot-log {
  /* position: absolute; */
  /* inset: 0; */
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  p {
    max-width: 600px;
    padding-block: 2px;
  }

  .title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    color: var(--color-accent);
    overflow: hidden;
  }

  .title::before {
    top: 0;
  }

  .title::after {
    bottom: 0;
  }

  .title::before,
  .title::after {
    position: absolute;
    content: "=====================================================================================================================================================================================================================================================================================";
    width: 100%;
    left: 0;
    white-space: nowrap;
  }

  .logdata {
    text-indent: 1rem;
  }

  .command {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    color: var(--color-accent);
    background-color: var(--color-bg-surface);
    z-index: 5;
  }

  .command::before {
    content: "[";
    display: inline-block;
    margin-inline-end: 5px;
  }

  .command::after {
    content: "]";
    display: inline-block;
    margin-inline-start: auto;
  }
}

#terminal-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-sidebar);
  padding-block: 1rem;
  padding-inline: 1rem;
  transform: translateY(100%);
  will-change: transform;
  z-index: 9;

  &.transition {
    transition: transform 300ms ease 0ms;
  }

  &[open] {
    transform: translateY(0%);
  }

  summary {
    margin-block-end: 2rem;
    text-align: center;
    align-content: center;
    cursor: pointer;
    list-style: none;
  }

  .info {
    padding-inline: .5rem;
    margin-block-end: 1rem;
  }

  .ico::before {
    content: "\25B2";
    /* ▲ */
    margin-inline-end: 1rem;
  }

  & summary::-webkit-details-marker,
  & summary::marker {
    display: none;
    width: 0;

  }

  &[open] .ico::before {
    content: "\25BC";
    /* ▼ */
  }

}

#terminal-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: .5rem;

  @media (width >=768px) {
    flex-wrap: nowrap;
  }

  & .prompt {
    position: absolute;
    top: 1px;
    left: 0;
    color: var(--color-accent);
  }
}

#terminal-input {
  flex: auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: var(--font-mono);
  font-size: inherit;
  resize: none;
  text-indent: 160px;
  opacity: 1;

  @media (width >=768px) {
    text-indent: 140px;
    opacity: 0;
  }
}

#terminal-text {
  position: absolute;
  top: 1px;
  left: 140px;
  display: flex;
  align-items: center;
  height: 20px;
  cursor: text;

  &::after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: .5rem;
    background-color: var(--color-accent);
    animation: blink 1s infinite;
  }

  &.invisible::after {
    display: none;
  }
}

#mobile-actions {
  .btn {
    display: inline;
    padding-block: 1rem;
    padding-inline: 0;
    color: var(--color-accent);
  }
}

#skip {
  @media (width >=768px) {
    margin-inline-start: auto;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 0 .5rem;
  padding-block: .5rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: var(--font-mono);
  cursor: pointer;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}